* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-board {
    width: 100%;
    height: 100vh;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}
.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 0.9s infinite linear;
    
}
.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}
.jump {
    animation: jump 500ms ease-out;
}
.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 2.0s infinite linear;
}

#score{
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
}
.fourth {
    border-color: #f1c40f;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .fourth:hover {
    background-position: 0;
  }
  .btn {
    position: absolute;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0.6em;
    color: black !important;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }  
#fundo{
    margin-left: 44%;
    margin-top: 15%;
    visibility: hidden;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {

        0%{
            bottom: 0%;
        }
        40%{
            bottom: 180px;
        }
        50%{
            bottom: 180px;
        }
        60%{
            bottom: 180px;
        }
        100%{
            bottom: 0%;
        }

}
@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}
